<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <a href="/index">To Index</a>
        <%@hits["hits"].each { |hit|%>
            <%="<img src='#{hit["webformatURL"]}'>"%>
        <%}%>
    </body>
</html>