<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="navbar">
            <a href="/gallery">Photo Gallery</a>
            <a href="/gallery">Photographer</a>
        
            <div class="dropdown">
                <button class="dropbtn">Gallery 
                <i class="fa fa-caret-down"></i>
            </button>
            
                <div class="dropdown-content">
                    <a href="/gallery">ID</a>
                    <a href="/gallery">Name</a>
                    <a href="/gallery">Tags</a>
                </div>
            </div> 
        </div>

        <form method="POST" action="/gallery">
            Name: <input type="text" name="name" required>
            <input type="text" name="Tag1" placeholder="First Tag" required/>
            <input type="text" name="Tag2" placeholder="Second Tag" required/>
            <input type="text" name="Tag3" placeholder="Third Tag"/>
            <button type="submit">Create</button>
        </form>
    </body>
</html>